<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <title>Roku Flashback App</title>
</head>
<body>
    <main id="app">
        <!-- if user is kid, show kid changes -->
        <link rel="stylesheet" href="css/kids.css" v-if="user.isKid">
        <!-- HEADER BAR
            only show header bar if user is logged in and not viewing a video 
        -->
        <header class="header-bar">
            <h1 class="hidden">Welcome to Roku Flashback</h1><template class="top-header" v-if="currentPage !== 'player' && user.id > 0">
            <section class="header-left">
                <h2 class="hidden">Logo & Navigation</h2>
                <!-- left side of bar -->
                <img src="images/svg/Roku_logo.svg" alt="Logo" @click="logoClicked">
                <nav class="header-media-nav"> 
                    <!-- Available Pages (Home, Movies, TV Shows, Music etc) -->
                    <h3 class="hidden">Media Navigation</h3>
                    <ul>
                        <li @click="showMovies;currentPage = 'movies';searchResults = getSearchResults(searchQuery,currentPage,user)">Movies</li>
                        <li @click="showShows;currentPage = 'shows';searchResults = getSearchResults(searchQuery,currentPage,user)">TV Shows</li>
                        <li @click="showMusic;currentPage = 'music';searchResults = getSearchResults(searchQuery,currentPage,user)">Music</li>
                    </ul>
                </nav>
            </section>
            <section class="header-right">
                <h2 class="hidden">Profile & Settings</h2>
                <nav class="header-settings-nav"> 
                    <!-- search, change users, settings (only show if not kid), logout -->
                    <h3 class="hidden">Settings Navigation</h3>
                    <ul>
                        <li>
                            <!-- search bar -->
                            <img class="search-icon" :src="icons.search" alt="Search Icon" @click="searchClicked;searchResults = getSearchResults(searchQuery,currentPage,user)"><input v-model="searchQuery" type="search" class="search-bar">
                            <template v-if="searchQuery !== '' && searchQuery !== null"><section class="search-results">
                                <h4 class="hidden">Search Bar</h4>
                                <div v-for="result in searchResults">
                                    <div class="result-container" @click="openPreview(result.media_type, result.local_id)">
                                        <div class="result-title">
                                            <!-- show title (if music show album & artist), year (if tv show or artist, include end year) and length of media (unless artist) -->
                                            {{ result.title }} <span class="result_artist_album" v-if="result.media_type === 'music'">- {{ result.album }} - {{ result.artist }}</span>
                                            <img class="result-thumbnail" :src="result.thumbnail">
                                            {{ result.year }}<span v-if="result.media_type === 'show' || result.media_type === 'artist'"> - {{ result.end_year }}</span> <span class="result-length" v-if="result.media_type !== 'artist'">{{ result.length }}</span>
                                            </div>
                                        <div class="result-description">
                                            <!-- further description of media, genre, keywords (such as actors, themes, etc), and a short description (unless it's a song, because no one needs a short description of a song lol)  -->
                                            <template v-if="result.media_type !== 'artist'"><span class="result-genre">{{ result.genre }}</span> - </template><span class="result-keywords">{{ result.keywords }}</span>
                                            <template class="result-description-text" v-if="result.media_type !== 'song' && spoilerCheck(user.hideSpoilers,result.media_type)">{{ result.short_description }}</template>
                                            <div class="ratings">
                                                <!-- IMDB Rating *only show if video media -->
                                                <template v-if="result.media_type === 'movie' || result.media_type === 'show' || result.media_type === 'episode'"><div class="result-imdb-rating">
                                                    <template v-if="user.rating_pref === 1" class="star-rating-container">
                                                        <!-- x stars (up to 5) rating (rounds down at 0.5, up at 0.6) -->
                                                        <div class="star-container" v-for="n in 5">
                                                            <img class="star-rating" v-if="getStars(result.imdb_rating) >= n" :src="icons.star_rating" :alt="'star number '+ n">
                                                            <img class="star-rating" v-else :src="icons.star_rating_empty" alt="blank star">
                                                        </div>
                                                    </template><template v-else="user.rating_pref === 2" class="outof10_rating_container">
                                                        <!-- x/10 numbers rating -->
                                                        {{ result.imdb_rating }} <span class="outoften">/ 10</span>
                                                    </template><template v-else="user.rating_pref === 3" class="percent_rating_container">
                                                        <!-- x% rating -->
                                                        {{ result.imdb_rating * 10 }}%
                                                    </template><template v-else>
                                                        Error
                                                    </template>
                                                </div> - </template>
                                                <!-- Local Rating (rating based on user reviews) -->
                                                <div class="result-local-rating">
                                                    <template v-if="user.rating_pref === 1" class="star-rating-container">
                                                        <!-- x stars (up to 5) rating -->
                                                        <div class="star-container" v-for="n in 5">
                                                            <img class="star-rating" v-if="getStars(result.local_rating) >= n" :src="icons.star_rating" :alt="'star number '+ n">
                                                            <img class="star-rating" v-else :src="icons.star_rating_empty" alt="blank star">
                                                        </div>
                                                    </template><template v-else="user.rating_pref === 2" class="outof10_rating_container">
                                                        <!-- x/10 numbers rating -->
                                                        {{ result.local_rating }} <span class="outoften">/ 10</span>
                                                    </template><template v-else="user.rating_pref === 3" class="percent_rating_container">
                                                        <!-- x% rating -->
                                                        {{ result.local_rating * 10 }}%
                                                    </template><template v-else>
                                                        Error
                                                    </template>
                                                </div> - 
                                                <!-- Parental rating (Based on film, tv, music & content ratings) -->
                                                <div class="parental_rating">
                                                    {{ result.parental_rating }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section></template v-if="searchQuery !== ''"> 
                        </li>
                        <li>
                            <!-- user avatar -->
                            <img v-if="user.avatar.url !== undefined" class="user-avatar" :src="user.avatar.url" :alt="user.avatar.name + ' icon: Avatar for ' + user.name " @click="user = {};avatarClicked">
                        </li>
                        <li>
                            <!-- *only show not kid, user settings -->
                            <img v-if="user.isKid !== true" class="settings-icon" :src="icons.settings" alt="settings" @click="currentPage = 'settings';settingsClicked">
                        </li>
                        <li>
                            <!-- *only show if admin, admin control panel access -->
                            <img v-if="user.isAdmin === true" class="admin-icon" :src="icons.admin" alt="admin setttings" @click="currentPage = 'admin';adminClicked">
                        </li>
                        <li>
                            <!-- logout -->
                            <img class="logout-icon" :src="icons.logout" alt="logout user" @click="account = logoutAccount; user = {};currentPage = 'main';logoutClicked">
                        </li>
                    </ul>
                </nav>
            </section>`
        </template></header>


        <!-- login / register -->
        <template class="main" v-if="currentPage === 'main' && account.id === 0"><section class="main-wrapper">
            <h2 class="hidden">Login or Register</h2>
            Login:
            <div id="login"> 
                <!-- login to be implemented, get back into account with email admin@amiecollins.ca and password admin -->
                <label>Email: </label><input type="email" name="email" v-model="login.email"/><br>
                <label>Account Password: </label><input type="password" name="password" v-model="login.password"/>
                <button name="login" @click="loginClicked;account = getAccount(login.email, login.password)">Login</button disabled="true">
            </div>

            Register:
            <div id="register">
                <!-- registration tbi until login system is created & member account storage is figured out -->
                <label>Email: </label><input type="email" placeholder="please enter account email" name="email"><br>
                <label>New Account Password: </label><input type="password" name="password"><br>
                <label>New Account Password (Again): </label><input type="password" name="passwordCheck"><br>
                <button name="register">Register</button>
            </div>
        </section></template>

        <template class="user-select" v-if="account.canView && user.id === 0"><section class="user-select-wrapper">
            <h2>Pick Your User</h2>
            <div class="user-selection">
                <div v-for="profile in account.user_ids">
                    <img class="user-avatar" :src="getUser(profile).avatar.url" :alt="getUser(profile).avatar.name + ' avatar for user ' + getUser(profile).name" @click="user = userCheck(profile)">
                    <span class="user-name">{{ getUser(profile).name }}</span> - <img class="edit-user-icon" :src="icons.edit_user" alt="edit this user">
                    <input v-if="getUser(profile).password !== ''" type="password" name="password" v-model="user_select_password[getUser(profile).id]">
                    <button class="user-submit" name="submit" @click="user = userCheck(user_select_password[getUser(profile).id], profile);if (user.id !== 0) { currentPage='home' };return false">Enter Profile of {{ getUser(profile).name }}</button>
                </div>
            </div>
            <img class="add-user-button" :src="icons.add_button" alt="add another user" @click="currentPage === 'settings';user = {}">
        </section></template>

        <template class="settings" v-if="currentPage === 'settings'"><section class="settings-wrapper">
            <div class="user-settings-select">
                <div v-for="profile in account.user_ids">
                    <img class="user-avatar" :src="getUser(profile).avatar.url" :alt="getUser(profile).avatar.name + ' avatar for user ' + getUser(profile).name" @click="user = userCheck(profile)">
                    <span class="user-name">{{ getUser(profile).name }}</span> - <img class="edit-profile-icon" :src="icons.edit_user" alt="edit this user">
                </div>
            </div>
        </section></template>
    </main>
</body>
<script src="js/main.js" type="module"></script>
</html>